<%= form_for(quote) do |f| %>
    <% if quote.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

          <ul>
            <% quote.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :quote %>
      <%= f.text_field :quote %>
    </div>

    <div class="field">
      <%= f.label :said_by %>
      <%= f.text_field :said_by %>
    </div>

    <div class="field">å
      <%= f.label :author_mugshot %>
      <%= f.text_field :author_mugshot %>
    </div>

    <div class="field">
      <%= f.label :rating %>
      <%= f.text_field :rating %>
    </div>

    <div class="field">
      <%= f.label :tags %>
      <%= f.text_field :tags %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
