<p id="notice"><%= notice %></p>
<style>
  .quote {
    margin-top: 2%;
    margin-bottom: 2%;
    height: auto;
    padding: 4%;
  }

  .quote-text {
    font-size: x-large;
    color: #3a4459;
    text-align: center;
    text-space: 1px;
    line-height: 100%;
  }

  .said-by {
    float: right;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: large;
  }

  .tags {
    float: right;
    font-size: x-small;
    color: #3a4459;
  }

  h4 {
    font-weight: lighter;
  }

</style>

<div class="breadcrumb">
  <h4><a href="/"> Home </a> > Favourite Quotes </h4>
</div>
<hr>
<% @quotes.each do |quote| %>
    <div class="quote">
      <div class="quote-text"><%= quote.quote %> </div><br>
      <div>
        <div class="said-by"> -  <span style="color: #f22f2f;"><%= quote.said_by %> </span></div><br>
        <div class="tags">Tags: <%= quote.tags.join(', ') %> </div><br>
        <% if admin? %>
          <%= link_to 'Show', quote %> |
          <%= link_to 'Edit', edit_quote_path(quote) %> |
          <%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
<% end %>


<%= link_to 'New Quote', new_quote_path if admin? %>
