<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @quote.quote %>
</p>

<p>
  <strong>Said by:</strong>
  <%= @quote.said_by %>
</p>

<p>
  <strong>Author mugshot:</strong>
  <%= @quote.author_mugshot %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @quote.tags %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
