<%= form_for(random_thought) do |f| %>
    <% if random_thought.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(random_thought.errors.count, "error") %> prohibited this random_thought from being saved:</h2>

          <ul>
            <% random_thought.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :short_description %>
      <%= text_area :random_thought, :short_description %>
    </div>

    <div class="field">
      <%= f.label :long_description %>
      <%= text_area :random_thought, :long_description %>
    </div>


    <div class="field">
      <%= f.label :rating %>
      <%= f.text_field :rating %>
    </div>

    <div class="field">
      <%= f.label :visible %>
      <%= f.text_field :visible %>
    </div>

    <div class="field">
      <%= f.label :tags %>
      <%= f.text_field :tags %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
