<p id="notice"><%= notice %></p>

<style>

  .thought  {
    padding: 4%;
  }
  .thought-title {
    color: #3a4459;
    font-size: x-large;
    text-align: justify;
    line-height: 120%;
  }

  .thought-short-text {
    font-size: larger;
    text-align: justify;
    line-height: 120%;
  }

  .thought-long-text {
    font-size: large;
    text-align: justify;
    line-height: 120%;
    margin: 0 !important;
  }

  .tags {
    float: left;
    font-size: small;
  }

  h4 {
    font-weight: lighter;
  }
</style>

<div class="breadcrumb">
  <h4><a href="/"> Home </a> > Random Thoughts </h4>
</div>
<hr>
<% @random_thoughts.each do |random_thought| %>
    <div class="thought">
    <div class="thought-title"><%= random_thought.title %> </div><br>
    <b>tldr;</b> <div class="thought-short-text"><%==  random_thought.short_description %></div><br>
      <%= simple_format(add_href_to_link(random_thought.long_description)[0..450], :class => 'thought-long-text')%>
      <% if random_thought.long_description.length > 450 %>
        <%= link_to 'Continue reading ...', random_thought %><br><br>
      <% end %>
      <div>
        <div class="tags">Tags: <span style="color: #f22f2f;"><%= random_thought.tags.join(', ') %></span> </div><br>
        <% if admin? %>
            <%= link_to 'Show', random_thought %> |
            <%= link_to 'Edit', edit_random_thought_path(random_thought) %> |
            <%= link_to 'Destroy', random_thought, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
    </div>
<% end %>

<br>
<%= link_to 'New Random Thought', new_random_thought_path if admin? %>
