<%= form_for(project) do |f| %>
    <% if project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :short_description %>
      <%= text_area(:project, :short_description) %>
    </div>

    <div class="field">
      <%= f.label :long_description %>
      <%= text_area(:project, :long_description) %>
    </div>

    <div class="field">
      <%= f.label :why %>
      <%= text_area(:project,  :why) %>
    </div>

    <div class="field">
      <%= f.label :how %>
      <%= f.text_field :how %>
    </div>

    <div class="field">
      <%= f.label :what_is_next %>
      <%= text_area(:project, :what_is_next) %>
    </div>

    <div class="field">
      <%= f.label :service_url %>
      <%= f.text_field :service_url %>
    </div>

    <div class="field">
      <%= f.label :cover_image %>
      <%= f.text_field :cover_image %>
    </div>

    <div class="field">
      <%= f.label :video_demo %>
      <%= f.text_field :video_demo %>
    </div>
    <div class="field">
      <%= f.label :rating %>
      <%= f.text_field :rating %>
    </div>
    <div class="field">
      <%= f.label :technologies_used %>
      <%= f.text_field :technologies_used %>
    </div>

    <div class="field">
      <%= f.label :screenshot_links %>
      <%= f.text_field :screenshot_links %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
