<p id="notice"><%= notice %></p>

<style>
  .technologies-used {
    #float: left;
    font-size: small;
    color: #3a4459;
  }

  .project {
    padding-top: 5%;
    padding-bottom: 5%;
    #padding-left: 1%;
    #padding-right: 1%;
    display:inline-block;
    width: 100%;
  }

  .project-name {
    padding-top: 10px;
    font-size: x-large;
    color: #3a4459;
  }

  .short-description {
    font-size: medium;
    text-align: justify;
    margin: 0 !important;
  }

  h4 {
    font-weight: lighter;
  }

  .details {
    #margin-left: 45%;
    #padding-top: 2%;
    #padding-left: 4%;
    #position: relative;
    #float:right;
    padding-right: 1%;
    text-align: justify;
    #flex-wrap: wrap;
    #width: auto;
    #display: inline-block;

  }


  #showcase {
    /* Prevent vertical gaps */
    display: inline-block;
    width: 55%;
    height: 40%;
    margin-left: 2%;
    box-shadow: 5px 10px 10px #888888;
    float: right;
  }

  #showcase img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: 100% !important;
    align-content: center;
  }

</style>

<div class="breadcrumb">
  <h4><a href="/"> Home </a> > Side projects </h4>
</div>
<hr>
<div class="container">
  <% @projects.each do |project| %>
      <div class="project">
        <span class="project-name"><%= project.title %></span>
        <% if project.service_url.present? %> | Visit: <a href="<%= project.service_url %>"><%= project.service_url %></a><% end %>
        <br><br>
        <div id="showcase">
          <img src="<%= project.cover_image %>">
          <% project.screenshot_links.each do |screenshot| %>
            <!-- <img src="<%= screenshot %>"> -->
          <% end %>
        </div>

        <span class="details">
          <br>
          <%== simple_format(project.short_description, :class => 'short-description') %><br>
          <div class="project-name"> Why?</div><br>
          <%== simple_format(project.why, :class => 'short-description')  %>
          <span class="technologies-used"><br>
            Made with: <%= project.technologies_used.join(', ') %>
          </span>
          <br><br>
          <% if project.screenshot_links.first != project.cover_image %>
            <%= link_to 'See more screenshots', project %>
          <% end %>
          <% if admin? %>
              <br>
              <%= link_to 'Show', project %>
              <%= link_to 'Edit', edit_project_path(project) %>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </span>
      </div>
  <% end %>
</div>

<%= link_to 'New Project', new_project_path if admin? %>
