<style>
  h4 {
    font-weight: lighter;
  }

  .showcase {
    /* Prevent vertical gaps */
    display: inline-block;
    width: 80%;
    height: 40%;
    margin: 2%;
    box-shadow: 2px 6px 10px 3px #888888
  }

    .showcase img {
      height: 100%;
      width: 100%;
      margin-left:auto;
      margin-right:auto;
      display: block;
    }

   .container {
     text-align: center;
   }
</style>
<p id="notice"><%= notice %></p>

<div class="breadcrumb">
  <h4><a href="/"> Home </a> > <a href="/projects">Side projects</a> > <%= @project.title %></h4>
  <hr>
</div>

<div class="container">
  <div class="showcase">
    <img src="<%= @project.cover_image %>">
  </div><br>
  <% @project.screenshot_links.each do |screenshot| %>
      <div class="showcase">
        <img src="<%= screenshot%>">
      </div>
  <% end %>
</div>
<% if admin? %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
<% end %>
