<%= form_for(book) do |f| %>
    <% if book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
            <% book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :isbn %>
      <%= f.text_field :isbn %>
    </div>

    <div class="field">
      <%= f.label :status %>
      <%= f.text_field :status %>
    </div>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>

    <div class="field">
      <%= f.label :short_description %>
      <%= f.text_field :short_description %>
    </div>

    <div class="field">
      <%= f.label :opinion %>
      <%= f.text_field :opinion %>
    </div>

    <div class="field">
      <%= f.label :quotes %>
      <%= f.text_field :quotes %>
    </div>

    <div class="field">
      <%= f.label :images %>
      <%= f.text_field :images %>
    </div>

    <div class="field">
      <%= f.label :rating %>
      <%= f.text_field :rating %>
    </div>

    <div class="field">
      <%= f.label :tags %>
      <%= f.text_field :tags %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
