<p id="notice"><%= notice %></p>

<style>
  .book {
    padding-top: 5%;
    padding-bottom: 10%;
    height: 100%;
    #padding-left: 2%;
  }

  .details {
    margin-left: 280px;
  }

  .title {
    font-size: x-large;
    color: #3a4459;
    line-height: 100%;
  }

  @media only screen and (max-width:480px) {
    img {
      float: none;
      display: block;
      margin: 0 auto 20px !important;
    }
  }
  .pic {
    float: left;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;
  }

  .pic img {
    margin-left:auto;
    margin-right:auto;
    display: block;
  }

  .author {
    font-size: large;
  }

  .tags {
    float: left;
    font-size: small;
    color: #3a4459;
  }

  .short-description {
    font-size: medium;
    text-align: justify;
  }

  .more {
    #margin-top: 200px;
    #position: absolute;
    #font-weight: 700;
  }

  h4 {
    font-weight: lighter;
  }
</style>

<div class="breadcrumb">
  <h4><a href="/"> Home </a> > Reading List </h4>
 
</div>
<hr>
<div class="container">
  <% @books.each do |book| %>
      <div class="book">
        <div class="pic">
          <img height="330" width="250" src="<%= book.images.first  %>">
          <br><% if admin? %>
              <%= link_to 'Edit', edit_book_path(book) %> |
              <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
        <span class="details">
        <div class="title">
            <%= book.title %><br>
          <span class="author">
             by <span style="color: #f22f2f;">
            <%= book.author %>
          </span>
          </span><br><br>
            <div class="tags">
              Tags: <%= book.tags.join(', ') %><br>
            </div>
          </div><br><br>
          <div class="short-description">
            <%= book.short_description %>
          </div>
          <div class="more"><br>
            <%= link_to 'Click to see favourite quotes, opinion and more', book %>
          </div>
        </span>
      </div>
  <% end %>
</div>

<%= link_to 'New Book', new_book_path if admin? %>
