<style>
  h4 {
    font-weight: lighter;
  }

  .container {
    text-align: center;
  }
</style>
<p id="notice"><%= notice %></p>

<div class="breadcrumb">
  <h4><a href="/"> Home </a> > <a href="/books">Reading List</a> > <%= @book.title %></h4>
  <hr>
</div>

<br>Nothing to show right now, please check again later.

<%if admin? %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
<% end %>