<style>
  .introduction {
    margin-top: 5%;
    text-align: justify;
  }

  .introduction p {
    font-size: large;
    line-height: normal;
    margin: 0!important;
  }

  .introduction a {
    color: #CD2929;
  }
  h4 {
    font-weight: lighter;
  }

</style>
<p id="notice"><%= notice %></p>

<div class="breadcrumb">
  <h4>&nbsp; </h4>
 
</div>
<hr>
<div class="introduction">
  <p>Hello!</p><br>

  <p>
  My name is Avinash Varma, feel free to call me Avi. <br>
  I am a computer engineer and working as an application developer for an e-commerce company in Japan.<br>
  Why this choice ? well I was lucky enough to be featured in New York Times to talk about it. (<a target="_blank" href="http://www.nytimes.com/2012/11/13/world/asia/13iht-sreducjapan13.html">click to read</a>)
  </p><br>
  <p>
  Lately tasks at job  mostly involved working on backend systems, consuming/building APIs, designing new systems and migrating legacy systems.
  My experience involves developing full functional e-commerce websites from scratch, maintaining and troubleshooting.
  </p>
  <p><br>
  Apart from work I like to get busy with my <a target=“_blank” href="/projects">hobby projects</a> and try to acquire skills that I usually don’t get a chance to work in office(love designing user interfaces) or explore Tokyo and nearby areas.
  </p><br>
  <p>
  Interested in startups, agriculture, farming, politics, mythology, reading(non-fiction mostly) and hiking.
    <br>Cannot work without music!</p>
  <br><p>
  Feel free to connect with me on <a target="_blank" href="https://www.facebook.com/avinash.varma4464">Facebook</a>, <a target="_blank" href="https://www.linkedin.com/in/avinash-varma-98522614/">LinkedIn</a> or drop an email : avinash.varma4464@gmail.com
  </p>
</div>

