<style>
  .introduction {
    margin-top: 7%;
  }

  h4 {
    font-weight: lighter;
  }
</style>
<p id="notice"><%= notice %></p>
<div class="breadcrumb">
  <h4><a href="/"> Home </a> > Resume </h4>
</div>
<hr>

<div class="introduction">
  Please send an email to : avi.gep[at]gmail.com
</div>

