/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.turbolinks-progress-bar {
    background-color: #f22f2f;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
.name {
    #color: #942a25;
    font-family: 'Ubuntu', sans-serif;
    font-size: 46px;
    color: #f22f2f;
    #line-height: 100%;
    margin-bottom: 5%;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #f22f2f;
    #font-weight: bold;
    background-color: transparent !important;
}

a:visited {
    text-decoration: none;
}

a:active {
    color: #f22f2f;
}
.navigation-links {
    #font-weight: bold;
    float: right;
    margin-right: 3%;
    font-size: medium;
    #margin-top: -5%;
    #position: absolute;
    text-align: justify;
    margin-bottom: 3%;

}

.breadcrumb {
    padding: 2px;
    width: 100%;
    height: auto;
    margin-bottom: 4%;
}
